.text-primary {
  color: #55b7a5!important;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .5s ease;
  opacity: 0;
  background: #55b7a5;
}

section {
  padding: 50px 0;
}

a:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #cc8f52;
}

@media (min-width: 300px) {
  .portfolio-modal .modal-content h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
}

